@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0px;
  margin: 0px;
}

:root {
  --MainBlack: #212529;
  --MainWhite: #FAF8F9;
  --MainBlue: #abd4c8;
  --MainGreen: #adc965;
  --MainRed: #e46144;
  --MainYellow: #f2bd6e;
  --MainOrange: #ebc29f;
  --OffBlack: hsl(210, 11%, 40%);
}

body {
  overflow-x: hidden;
}

.BoldedText {
  font-weight: bold;
}

#LogoutButton {
  background-color: var(--MainRed);
  text-align: center;
  color: var(--MainWhite);
  font-weight: bold;
  width: 100%;
  padding: 5px;
}

.Blue {
  color: var(--MainBlue);
}

.Green {
  color: var(--MainGreen);
}

.Red {
  color: var(--MainRed);
}

.Yellow {
  color: var(--MainYellow);
}

.Orange {
  color: var(--MainOrange);
}

.BlueBackground {
  background-color: var(--MainBlue);
  color: var(--MainWhite);
}

.GreenBackground {
  background-color: var(--MainGreen);
}

.RedBackground {
  background-color: var(--MainRed);
}

.YellowBackground {
  background-color: var(--MainYellow);
}

.OrangeBackground {
  background-color: var(--MainOrange);
}

.BlueBorderTop {
  border-top: 3px solid var(--MainBlue);
}

.GreenBorderTop {
  border-top: 3px solid var(--MainGreen);
}

.RedBorderTop {
  border-top: 3px solid var(--MainRed);
}

.YellowBorderTop {
  border-top: 3px solid var(--YellowBlue);
}

.OrangeBorderTop {
  border-top: 3px solid var(--MainOrange);
}

#TemplateTwo {
  display: -ms-grid;
  display: grid;
  width: 100%;
  min-height: 100vh;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

#TemplateTwo article:nth-child(1) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
}

#TemplateTwo article:nth-child(2) {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
}

#TemplateTwo .B_Holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

#TemplateTwo .B_Holder section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 400px) {
  #TemplateTwo {
    height: 100vh;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 80vh 20vh;
        grid-template-rows: 80vh 20vh;
  }
  #TemplateTwo article:nth-child(1) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #TemplateTwo article:nth-child(2) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #TemplateTwo article:nth-child(2) .B_Holder {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  #TemplateTwo article:nth-child(2) .B_Holder section {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.Input {
  outline: none;
  margin: 10px 0px;
  width: 50%;
  height: 24px;
  text-align: center;
  font-size: 24px;
  color: var(--MainBlack);
}

.Input::-webkit-input-placeholder {
  text-align: center;
  font-size: 24px;
}

.Input:-ms-input-placeholder {
  text-align: center;
  font-size: 24px;
}

.Input::-ms-input-placeholder {
  text-align: center;
  font-size: 24px;
}

.Input::placeholder {
  text-align: center;
  font-size: 24px;
}

.Input:focus {
  background-color: var(--MainGreen);
  color: var(--MainWhite);
}

#Alert {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 90vw;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  background-color: var(--MainWhite);
}

#Alert h3 {
  background-color: var(--MainGreen);
  border-radius: 25px;
  padding: 0px 5px;
}

#CustomConfirm {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 90vw;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  background-color: var(--MainWhite);
}

#CustomConfirm #CustomConfirmColour {
  font-size: 30px;
  font-weight: bold;
}

#CustomConfirm #AlertButtonHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#CustomConfirm #AlertButtonHolder section {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=Defaults.css.map */